    html,
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background: linear-gradient(45deg, #ffcc66 13%, #00ccff 85%);
        font-size: 1.11rem;
        background-size: 400%;
        animation: bg-animation 20s infinite alternate;
    }
    
    @keyframes bg-animation {
        0% {
            background-position: left;
        }
        100% {
            background-position: right
        }
    }
    /*Header/Logo Title*/
    
    .header {
        font-family: Lucida;
        padding: 0.5rem;
        text-align: center;
        color: black;
        font-size: 1rem;
    }
    
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-top: 1px black dashed;
        border-bottom: 1px black dashed;
    }
    
    .profile-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }
    /* use 'nav a' instead of 'a' to avoid side effects */
    
    nav a {
        flex: 1;
        display: inline-block;
        text-decoration: none;
        padding: 2rem;
        font-size: 1.8rem;
    }
    
    a:hover {
        color: rgb(11, 92, 79);
    }
    
    nav a:hover {
        background-color: #7ab5c4;
    }
    
    .flex-image {
        display: flex;
        justify-content: center;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: row-wrap;
    }
    /*Left Column Info with skills listed*/
    
    .left-column-content {
        flex: 1;
        max-width: 35%;
        margin-left: 10rem;
    }
    
    .right-column-content {
        flex: 1;
        margin-left: 10rem;
    }
    
    li {
        list-style-type: none;
    }
    
    footer {
        font-family: Lucida;
        padding: 0.5rem;
        text-align: center;
        color: black;
        font-size: 1rem;
    }